{namespace events}

/**
 * Template for show action in EventsController
 * 
 */
{template .show}
  {call shared.html_boilerplate}
    {param className: 'events' /}
    {param body}

    {/param}
  {/call}
{/template}