dontaddme.txt
*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~
*/*/*/*/*/*~
*/*/*/*/*/*/*~
*/*/*/*/*/*/*/*~
*/*/*/*/*/*/*/*/*~
*/*/*/*/*/*/*/*/*/*~
*/*/*/*/*/*/*/*/*/*/*~
*/*/*/*/*/*/*/*/*/*/*/*~
*/*/*/*/*/*/*/*/*/*/*/*/*~
*/*/*/*/*/*/*/*/*/*/*/*/*/*~
.DS_Store
.metadata
src/main/webapp/app
*.log
target
