{namespace signapp.errors}

/**
 * Template for error messages
 * @param errormsg
 * @param redirect
 */
{template .index }

    <h3> {$errormsg} </h3>
    Redirecting to {$redirect}
                
{/template}