{namespace shared}

/**
 * Supervision scheduler page display and styling
 * @param body
 * 
 */
{template .html_boilerplate autoescape="false" private="false"}
<html>
<head>
<title>urop-2013-signups</title>
</head>
<body>
<h1>Signups Application</h1>
	{$body}
</body>
</html>

{/template}

