#signapps {
  /*
  .events {
    &#new {
      table { 
        min-width: 600px; 
        
        .datetime_rows {
          input {
            display: inline;
            width: 310px;
            margin-right: 20px;
          }
        
          select {
            display: inline;
            width: 60px;
          }
        }
        
        .manual_rows {
          display:none;
        }
      }
    }
    
    &#show {
      input {
        width: 100px;
      }
    }
  }
  */
}