{namespace home_page}

/**
 * Home Page for timetables
 * @param user
 * 
 */
{template .index autoescape="false"}
<html>
<head>
<title>Home Page</title>
</head>
<body>
<h1>Signups home page</h1>
<h2>Welcome {$user.name} ({$user.crsid})</h2>
</body>
</html>

{/template}
