div.events#dos .more-students {
  margin-bottom: 10px; }
div.events#dos .pupil {
  padding-bottom: 3px; }
  div.events#dos .pupil:last-child {
    margin-bottom: 30px; }
div.events#dos .clear {
  margin-left: 10px;
  top: -1px; }
div.events#dos .search {
  top: -2px; }

div.events#index .created-event {
  min-height: 60px;
  text-align: left;
  font-weight: 400;
  background-color: #c4dbf8;
  color: black;
  font-size: 14px; }
div.events#index .button {
  width: 100%; }
div.events#index .date {
  font-size: 12px;
  font-style: italic;
  padding-top: 5px;
  color: #646464; }
div.events#index h3 {
  height: 60px; }

div.events#new ul.error {
  background-color: rgba(198, 15, 19, 0.1);
  border-color: #c60f13; }
  div.events#new ul.error input, div.events#new ul.error input#token-input- {
    background-color: inherit !important; }
div.events#new .big-errors-box ul {
  list-style-position: none;
  width: 100%;
  background: #c60f13;
  border: 1px solid #c60f13;
  color: white;
  font-weight: 700;
  font-size: 0.75em;
  padding: 5px;
  margin-top: 5px; }
div.events#new .form_table {
  width: 100%; }
div.events#new .form_table td, div.events#new .form_table th {
  font-size: 13px; }
div.events#new li.token-input-input-token-facebook input[type="text"]#token-input- {
  margin: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }
div.events#new li.token-input-token-facebook {
  margin: 6px 0 0 5px; }
div.events#new .delete-time-slot {
  height: 34px;
  padding: 8px 0 8px 0; }
div.events#new .empty {
  height: 11px; }
div.events#new #sheet-type-error {
  margin-top: 20px; }
div.events#new .switch.medium.radius {
  height: 28px; }

div.events#show .overflow-hidden {
  overflow: hidden;
  height: 0px;
  width: 100%; }
div.events#show .established-slot {
  display: inline-block;
  width: 145px;
  border: 1px solid #CCC;
  background-color: #E9E9E9;
  margin: 0 10px 15px 0;
  vertical-align: top; }
  div.events#show .established-slot .empty-slot {
    height: 41px;
    padding: 1px 3px 1px 3px;
    margin: 7px 3px 3px 3px;
    vertical-align: top;
    text-align: center; }
    div.events#show .established-slot .empty-slot div p {
      line-height: 26px;
      vertical-align: middle; }
  div.events#show .established-slot .full-slot {
    height: 41px;
    padding: 1px 3px 1px 3px;
    margin: 7px 3px 3px 3px; }
  div.events#show .established-slot p {
    margin: 0; }
div.events#show .draggable-custom {
  cursor: move; }
div.events#show .token-input-list-facebook {
  display: inline-block;
  width: 145px;
  height: 47px;
  margin-right: 10px; }
  div.events#show .token-input-list-facebook li.token-input-selected-token-facebook {
    color: black;
    cursor: inherit; }
  div.events#show .token-input-list-facebook li.token-input-token-facebook {
    cursor: inherit;
    margin-top: 7px;
    display: inline-block;
    background-color: transparent;
    width: 137px;
    border: 0;
    position: relative; }
    div.events#show .token-input-list-facebook li.token-input-token-facebook .token-input-delete-token-facebook {
      position: absolute;
      right: 5px;
      top: 0; }
  div.events#show .token-input-list-facebook li.token-input-input-token-facebook {
    height: 47px; }
    div.events#show .token-input-list-facebook li.token-input-input-token-facebook input {
      box-shadow: none;
      height: 47px; }
div.events#show .day {
  padding: 10px;
  border: 1px #f4f4f4 solid; }
  div.events#show .day:nth-child(odd) {
    background: #f9f9f9; }
  div.events#show .day .time-label {
    font-size: 16px;
    height: 40px;
    text-align: center;
    padding-top: 14px; }
  div.events#show .day .date-label {
    height: 30px;
    font-size: 16px;
    font-weight: 700; }
  div.events#show .day .large-11 {
    padding-left: 20px; }
div.events#show .row-name {
  text-align: center;
  height: 40px;
  padding-top: 14px; }
div.events#show input[type="submit"] {
  margin: 10px 0 10px 0; }
div.events#show .history-item {
  font-size: 14px;
  padding: 5px 0 5px 0;
  line-height: 1.5em; }
  div.events#show .history-item .large-3 {
    text-align: center; }
  div.events#show .history-item:nth-child(odd) {
    background: #F4F4F4; }
div.events#show .actual.row {
  padding: 10px;
  border: 1px solid #F4F4F4; }
  div.events#show .actual.row:nth-child(odd) {
    background: #F9F9F9; }
div.events#show div.type-choice {
  display: inline-block;
  margin: 0 0 5px 0;
  height: 47px;
  vertical-align: top;
  line-height: 47px; }
  div.events#show div.type-choice .custom.dropdown {
    max-width: 145px !important;
    width: 145px !important;
    height: 100% !important; }
    div.events#show div.type-choice .custom.dropdown .current, div.events#show div.type-choice .custom.dropdown .selector {
      margin-top: 7px; }
div.events#show .type {
  width: 145px;
  font-size: 16px;
  text-align: center;
  height: 100%;
  vertical-align: middle; }
div.events#show hr {
  margin-top: 0; }
div.events#show #load-history {
  margin-top: 10px; }
