div.events#dos .more-students {
  margin-bottom: 10px; }
div.events#dos .pupil {
  padding-bottom: 3px; }
  div.events#dos .pupil:last-child {
    margin-bottom: 30px; }

div.events#index .created-event {
  min-height: 60px;
  text-align: left;
  font-weight: 400;
  background-color: #c4dbf8;
  color: black;
  font-size: 16px; }
div.events#index .button {
  width: 100%; }
div.events#index .date {
  font-size: 12px;
  font-style: italic;
  padding-top: 5px;
  color: #646464; }

div.events#new ul.error {
  background-color: rgba(198, 15, 19, 0.1);
  border-color: #c60f13; }
  div.events#new ul.error input, div.events#new ul.error input#token-input- {
    background-color: inherit !important; }
div.events#new .big-errors-box ul {
  list-style-position: none;
  width: 100%;
  background: #c60f13;
  border: 1px solid #c60f13;
  color: white;
  font-weight: 700;
  font-size: 0.75em;
  padding: 5px;
  margin-top: 5px; }
div.events#new .form_table {
  width: 100%; }
div.events#new .form_table td, div.events#new .form_table th {
  font-size: 13px; }
div.events#new li.token-input-input-token-facebook input[type="text"]#token-input- {
  margin: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }
div.events#new li.token-input-token-facebook {
  margin: 6px 0 0 5px; }
div.events#new .delete-time-slot {
  height: 34px;
  padding: 8px 0 8px 0; }
div.events#new .empty {
  height: 11px; }
div.events#new #sheet-type-error {
  margin-top: 20px; }

div.events#show .overflow-hidden {
  overflow: hidden;
  height: 0;
  width: 100%; }
div.events#show .actual.row:first-child {
  padding-top: 15px; }
div.events#show .established-slot {
  display: inline-block;
  width: 145px;
  border: 1px solid #CCC;
  background-color: #E9E9E9;
  margin: 0 10px 15px 0;
  vertical-align: top; }
  div.events#show .established-slot .empty-slot {
    height: 36px;
    padding: 1px 3px 1px 3px;
    margin: 7px 3px 3px 3px;
    vertical-align: top;
    text-align: center; }
    div.events#show .established-slot .empty-slot div p {
      line-height: 26px;
      vertical-align: middle; }
  div.events#show .established-slot .full-slot {
    height: 36px;
    padding: 1px 3px 1px 3px;
    margin: 7px 3px 3px 3px; }
  div.events#show .established-slot p {
    margin: 0; }
div.events#show .draggable-custom {
  cursor: move; }
div.events#show .token-input-list-facebook {
  display: inline-block;
  width: 145px;
  height: 47px;
  margin-right: 10px; }
  div.events#show .token-input-list-facebook li.token-input-selected-token-facebook {
    color: black;
    cursor: inherit; }
  div.events#show .token-input-list-facebook li.token-input-token-facebook {
    cursor: inherit;
    margin-top: 7px;
    display: inline-block;
    background-color: transparent;
    width: 137px;
    border: 0;
    position: relative; }
    div.events#show .token-input-list-facebook li.token-input-token-facebook .token-input-delete-token-facebook {
      position: absolute;
      right: 5px;
      top: 0; }
  div.events#show .token-input-list-facebook li.token-input-input-token-facebook {
    height: 47px; }
    div.events#show .token-input-list-facebook li.token-input-input-token-facebook input {
      box-shadow: none;
      height: 47px; }
div.events#show .time-label {
  display: inline-block;
  font-size: 16px; }
  div.events#show .time-label div {
    padding: 20px 0 20px 0;
    width: 80px;
    margin-right: 10px;
    display: inline-block; }
div.events#show table {
  width: 100%; }
  div.events#show table td {
    padding: 10px 10px 10px 10px; }
div.events#show div.type-choice {
  display: inline-block;
  margin: 0 0 5px 0;
  height: 47px;
  vertical-align: top;
  line-height: 47px; }
  div.events#show div.type-choice .custom.dropdown {
    max-width: 170px !important;
    width: 170px !important;
    height: 100% !important; }
    div.events#show div.type-choice .custom.dropdown .current, div.events#show div.type-choice .custom.dropdown .selector {
      margin-top: 7px; }
div.events#show td.big-table-label {
  padding-top: 43px;
  font-size: 16px;
  max-width: 240px;
  width: 240px;
  vertical-align: top; }
div.events#show .type {
  width: 145px;
  font-size: 16px;
  text-align: center;
  height: 100%;
  vertical-align: middle; }
div.events#show hr {
  margin-top: 0; }
