$errors-dark: #C60F13;
$errors-background: rgba(198, 15, 19, 0.1);

//
// Walker vision
//

div.events#dos {
  .more-students {
    margin-bottom: 10px;
  }	
  
  .pupil {
    padding-bottom: 3px;
  
    &:last-child {
	    margin-bottom: 30px;
	  }
	}
	
	.clear {
	  margin-left: 10px;
	  top: -1px;
	}
	
	.search {
	  top: -2px; 
	}
}

//
// Index of events
//

div.events#index {
	
	 .created-event {
	   min-height: 60px;
	   text-align: left;
	   font-weight: 400;
	   background-color: #c4dbf8;
	   color: black;
	   font-size: 14px;
	 }	
	 
	 .button {
	   width: 100%; 
	 }
	 
	 .date {
	   font-size: 12px;
	   font-style: italic;
	   padding-top: 5px;
	   color: #646464;
	 }
	 
	 h3 {
	   height: 60px;
	 }
}

//
// Create new event 
//

div.events#new {
	label {
	  height: 22px;
	}
	
  input[type='submit'] {
    margin-bottom: 70px;
	}
	
  ul.error {
    background-color: $errors-background;
    border-color: $errors-dark;

    input, input#token-input-{
      background-color: inherit !important;
    }
  }
  
  .big-errors-box {

    ul {
      list-style-position: none;
      width: 100%;
	    background: $errors-dark;
	    border: 1px solid $errors-dark;
	    color: white;
	    font-weight: 700;
	    font-size: 0.75em;
	    padding: 5px;
	    margin-top: 5px;
    } 
  }

  .form_table {
    width: 100%;
  }

  .form_table td, .form_table th {
    font-size: 13px;
  }

  li.token-input-input-token-facebook input[type="text"]#token-input- {
    margin: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  li.token-input-token-facebook {
    margin: 6px 0 0 5px;
  }

  .delete-time-slot {
    height: 34px;
    padding: 8px 0 8px 0;
  }

  .empty {
    height: 11px;
  }
  
  #sheet-type-error {
    margin-top: 20px;
  }
  
  .switch.medium.radius {
    height: 28px;
  }
}

//
// Specific event
//

div.events#show {
	
  .big-errors-box {

    ul {
      list-style-position: none;
      width: 100%;
      background: $errors-dark;
      border: 1px solid $errors-dark;
      color: white;
      font-weight: 700;
      font-size: 0.75em;
      padding: 5px;
      margin-top: 5px;
    } 
  }
	
	.overflow-hidden {
	  overflow: hidden;
	  height: 0px;
	  width: 100%;
	}
	
  .established-slot {
    display: inline-block;
    width: 145px;
    border: 1px solid #CCC;
    background-color: #E9E9E9;
    margin: 0 10px 15px 0;
    vertical-align: top;

    .empty-slot {
      height: 41px;
      padding: 1px 3px 1px 3px;
      margin: 7px 3px 3px 3px;
      vertical-align: top;
      text-align:center;

      div p {
        line-height: 26px;
        vertical-align: middle;
      }
    }

    .full-slot {
      height: 41px;
      padding: 1px 3px 1px 3px;
      margin: 7px 3px 3px 3px;
    }

    p {
      margin: 0;
    }
  }

  .draggable-custom {
    cursor: move;
  }

  .token-input-list-facebook {
    display: inline-block;
    width: 145px;
    height: 47px;
    margin-right: 10px;

    li.token-input-selected-token-facebook {
      color: black;
      cursor: inherit;
    }

    li.token-input-token-facebook {
      cursor: inherit;
      margin-top: 7px;
      display: inline-block;
      background-color: transparent;
      width: 137px;
      border: 0;
      position: relative;


      .token-input-delete-token-facebook {
        position: absolute;
        right: 5px;
        top: 0;
      }
    }

    li.token-input-input-token-facebook {
      height: 47px;

      input {
        box-shadow: none;
        height: 47px;
      }
    }
  }
  
  
  .day {
    padding: 10px;
    border: 1px #f4f4f4 solid;

    &:nth-child(odd) {
      background: #f9f9f9; 
    }
  
	  .time-label{
	    font-size: 16px;
	    height: 40px;
	    text-align: center;
	    padding-top: 14px;
	  }
	  
	  .date-label {
	    height: 30px;
	    font-size: 16px;
	    font-weight: 700;
	  }
	  
	  .large-11 {
	    padding-left: 20px;
	  }
  }
  
  .row-name {
    text-align: center;
    height: 40px;
    padding-top:14px;
  }
  
  input[type="submit"] {
    margin: 10px 0 10px 0;
  }
  
  .history-item {
    font-size: 14px;
    padding: 5px 0 5px 0;
    line-height: 1.5em;
    
    .large-3 {
      text-align: center;
    }
    
    &:nth-child(odd) {
      background: #F4F4F4; 
    }
  }
  
  .actual.row {
    padding: 10px;
    border: 1px solid #F4F4F4;

    &:nth-child(odd) {
	    background: #F9F9F9; 
	  }
  }
  

  div.type-choice {
    display: inline-block;
    margin: 0 0 5px 0;
    height: 47px;
    vertical-align: top;
    line-height: 47px;

    .custom.dropdown {
      max-width: 145px !important;
      width: 145px !important;
      height: 100% !important;

      .current, .selector {
        margin-top: 7px;
      }
    }
  }

  .type {
    width: 145px;
    font-size: 16px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
  }

  hr {
    margin-top: 0;
  }
  
  #load-history {
    margin-top: 10px;
  }
}