$errors-dark: #C60F13;
$errors-background: rgba(198, 15, 19, 0.1);

//
// Walker vision
//

div.events#dos {
  .more-students {
    margin-bottom: 10px;
  }	
  
  .pupil {
    padding-bottom: 3px;
  
    &:last-child {
	    margin-bottom: 30px;
	  }
	}
	
	.clear {
	  margin-left: 10px;
	  top: -1px;
	}
	
	.search {
	  top: -2px; 
	}
}

//
// Index of events
//

ul.signups-summary-day-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    .day-item {
	padding: 15px;
    }

    .event-list {
	margin: 0;
	padding: 0;
	list-style-type: none;	
	border-top: 1px solid #ccc;
    }

    .event-title {
	font-weight: bold;
	width: 20em;
	float:left;
	display:block;
    }
    
    .row-time {
	width: 5em;
	display: block;
	float: left;
	text-align:right;
	padding-right: 1em
    }

    .slot-owner {
	width: 4em;
	display: block;
	float:left;
	text-align: center
    }

    .not-booked {
	color: #e5e5e5
    }

    .owned {
	font-weight: bold;
    }

    .row-list {
	margin: 0;
	padding: 0;
	list-style-type: none;	
	float:left;
    }

    li {
	clear:both
    }
}


div.events#index {
	
	.ribbon {
	  position: absolute;
	  right: 0;
	  z-index: 100000;
	  height: 30px;
	  width: 240px;
	  top: 100px;
	  -webkit-transform: rotate(45deg);
	  
	  &.top {
	    right: -102px;
	    background: url("../img/ical-ribbon-top-2.png") transparent no-repeat;
	  }
	  
	  &.bottom {
	    right: -63px;
	    background: url("../img/ical-ribbon-bottom-2.png") transparent no-repeat;
	  }
	}
	
	
	 .created-event {
	   min-height: 60px;
	   text-align: left;
	   font-weight: 400;
	   background-color: #c4dbf8;
	   color: black;
	   font-size: 14px;
	 }	
	 
	 .button {
	   width: 100%; 
	 }
	 
	 .date {
	   font-size: 12px;
	   font-style: italic;
	   padding-top: 5px;
	   color: #646464;
	 }
	 
	 h3 {
	   height: 60px;
	 }
}

//
// Create new event 
//

div.events#new {
	label {
	  height: 22px;
	}
	
  input[type='submit'] {
    margin-bottom: 70px;
	}
	
  ul.error {
    background-color: $errors-background;
    border-color: $errors-dark;

    input, input#token-input-{
      background-color: inherit !important;
    }
  }
  
  .overflow-hidden {
	  overflow: hidden;
	  height: 0px;
	  width: 100%;
	}
  
  .big-errors-box {

    ul {
      list-style-position: none;
      width: 100%;
	    background: $errors-dark;
	    border: 1px solid $errors-dark;
	    color: white;
	    font-weight: 700;
	    font-size: 0.75em;
	    padding: 5px;
	    margin-top: 5px;
    } 
  }

  .form_table {
    width: 100%;
  }

  .form_table td, .form_table th {
    font-size: 13px;
  }

  li.token-input-input-token-facebook input[type="text"]#token-input- {
    margin: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  li.token-input-token-facebook {
    margin: 6px 0 0 5px;
  }

  .delete-time-slot {
    height: 34px;
    padding: 8px 0 8px 0;
  }

  .empty {
    height: 11px;
  }
  
  #sheet-type-error {
    margin-top: 20px;
  }
  
  .switch.medium.radius {
    height: 28px;
  }
}

//
// Specific event signup page
//

div.events#show {
	
    $slotHeight:47px;
    $slotHeightLess2:45px;

  .big-errors-box {

    ul {
      list-style-position: none;
      width: 100%;
      background: $errors-dark;
      border: 1px solid $errors-dark;
      color: white;
      font-weight: 700;
      font-size: 0.75em;
      padding: 5px;
      margin-top: 5px;
    } 
  }
	
  .time-label{
      p {
	  display: table-cell;     
	  vertical-align:middle;
	  height: $slotHeight;
      }
  }

  .overflow-hidden {
      overflow: hidden;
      height: 0px;
      width: 100%;
  }
  
  .event-slot {
      display: inline-block;
      width: 145px;
      height: $slotHeight;
      margin: 0 0.5em 0 0.5em
  }

  .not-expired-slot {
      border: 1px solid #ccc;
  }

  .expired-slot {
      color:#ccc;
      border: 1px solid #fff;
      ul.token-input-list-facebook {
	  border: 1px solid #ccc;
	  li.token-input-token-facebook {
	      color: #ccc;
	  }
      }
  }

  .bookable-slot {
      border: 0;
  }

  .not-bookable-slot.not-expired-slot {
      border: 1px solid #fff;      
  }

  .not-bookable-slot {

     p {
	 display: table-cell;     
	 vertical-align:middle;
	 height: $slotHeight;
	 padding-left: 3px
     }
  }
  
  .draggable-custom {
    cursor: move;
  }

  .token-input-list-facebook {
    display: inline-block;
    margin: 0;
    width: 145px;
    height: $slotHeight;

    li.token-input-selected-token-facebook {
      color: black;
      cursor: inherit;
    }

    li.token-input-token-facebook {
      cursor: inherit;
      margin:0; 
      padding: 0;
      display: inline-block;
      background-color: transparent;
      width: 137px;
      border: 0;
      position: relative;

      p {
	  display: table-cell;     
	  vertical-align:middle;
	  height: $slotHeightLess2;
	  padding-left: 3px
      }

      .token-input-delete-token-facebook {
        position: absolute;
        right: 5px;
        top: 0;
      }
    }

    li.token-input-input-token-facebook {
      height: $slotHeightLess2;

      input {
        box-shadow: none;
        height: $slotHeightLess2;
      }
    }
  }
  
  
  .day {
    padding: 10px;
    border: 1px #f4f4f4 solid;

	  .date-label {
	    height: 30px;
	    font-size: 16px;
	    font-weight: 700;
	  }
	  
  }
  
  .row-name {
    text-align: center;
    height: 40px;
    padding-top:14px;
  }
  
  input[type="submit"], #delete-event {
    margin: 10px 0 10px 0;
  }
  
  #delete-event {
    margin-left: 10px;
    top: 1px;
  }
  
  .history-item {
    font-size: 14px;
    padding: 5px 0 5px 0;
    line-height: 1.5em;
    
    .large-3 {
      text-align: center;
    }
    
    &:nth-child(odd) {
      background: #F4F4F4; 
    }
  }
  
  .actual.row {
    padding: 10px;
    border: 1px solid #F4F4F4;

    &:nth-child(odd) {
	    background: #F9F9F9; 
	  }
  }
  

  div.type-choice {
    display: inline-block;
    height: 47px;
    vertical-align: top;
    line-height: 47px;

    .custom.dropdown {
      max-width: 145px !important;
      width: 145px !important;
      height: 100% !important;

      .current, .selector {
        margin-top: 7px;
      }
    }
  }

  .type {
    width: 145px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
  }

  hr {
    margin-top: 0;
  }
  
  #load-history {
    margin-top: 10px;
  }
}