<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" [
<!ENTITY frontend SYSTEM "frontend.xml">
]>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
  <context-param>
    <param-name>cssNamespace</param-name>
    <param-value>id="signapps"</param-value>
  </context-param>
  
  <context-param>
    <param-name>cssFiles</param-name>
    <param-value>/css/vendor/jquery-ui/jquery-ui-1.10.3.custom.min.css,/css/main.css</param-value>
  </context-param>
  
  <context-param>
    <param-name>jsFiles</param-name>
    <param-value>/soy/js/3/signapp.groups.js,/soy/js/3/signapp.deadlines.js,/soy/js/3/signapp.home_page.js,/soy/js/3/signapp.events.js,/soy/js/3/signapp.errors.js,/js/vendor/jquery-ui/jquery-ui-1.10.3.custom.min.js,/js/shared.js,/js/signups.js,/js/events.js,/js/groups.js,/js/deadlines.js</param-value>
  </context-param>

	<!-- Include this for the Hibernate filter -->
	<filter>
		<filter-name>Hibernate</filter-name>
		<filter-class>uk.ac.cam.signups.util.HibernateSessionRequestFilter</filter-class>
	</filter>

	<filter>
		<filter-name>Htmleasy</filter-name>
		<filter-class>com.googlecode.htmleasy.HtmleasyFilterDispatcher</filter-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>uk.ac.cam.signups.util.Signapps</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Hibernate</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Htmleasy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	&frontend;
</web-app>
